
html {
        font-family: 'Montserrat', sans-serif;
}
body {
        margin: 0;
        background-color: #efefef;
}
header {
        background-color: olive;
        color: white;
        padding: 3rem 2rem;
/*rem son medidas relativas dependiendo el tamaño de la etiqueta html*/
}
#titulo {
        font-size: 4rem;
/*defino la fuente de la letra*/
        color:white;
        /*text-shadow: 3px 5px 5px blue;*/
/*sombra al texto seleccionado, valores hacia der, abajo y difuminado*/
        /*text-decoration: overline underline;*/
/*subrayado sobre y bajo texto*/
        text-align: center;    
}
section {
        max-width: 3000px;
        margin: 0 auto;
        text-align: center;
}
table, th, td  {
        width: 300px;
        border-collapse: collapse;
  /*asi eliminamos la separación entre las celdas*/     
        border: 1px solid black;
        padding: 5px;
        }
th {
        background-color: tomato;
        color: white;
/*cambie el color de la fuente*/      
}
tr:nth-child(odd) {
        background-color: aqua;
/*puse un color a las filas impares aplicando odd*/  
}
tr:hover {
        background-color: #aaa;
/*puse un color de seleccion de fila al pasar el mouse*/
        cursor: pointer;
/*permite que la flecha se convierta en mano al pasar sobre esas filas*/
}
#titulo2 {
        color:blue;
        border: 5px red outset     
}
/*a ver como me sale ?) comentario como en html se escribe diferente*/
ul {
        background-color: yellow;
        list-style-type: none;
/*le quito los puntos de lista desord, pero no quito el margen de los puntos*/
        padding-left: 0;
/*con esto elimino ese margen de los puntos*/                
}
#video {
        font-family: "roboto", sans-serif ;
/*nueva fuente de texto. aplique roboto de google fonts*/
        border-style:solid;
        border-color:blueviolet;
        border-width: 5px;
/*recuadro del texto, color y ancho*/
}

/*aca asigné una fuente diferente al establecido por html*/
#fondo2 {
        text-align: center;
        background-color: rgba(255, 0, 0, 0.3); 
        margin: 15px 10px 15px 10px ;
/*agregamos un margen definido al fondo*/
        padding: 30px 15px 10px 20px ; 
/*veo mas abajo el titulo por este margen interno definido que agregue*/
        border: solid black;
/*el borde negro separa el margen externo e interno. osea margin y padding*/           
}
#fondo1 {
        height: 400px;
        background-image: url('PESASANTIGUAS.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        text-align: center;
      
/*altura de imagen, imagen de fondo, que no sea mosaico, centrada y texto centrado*/
}

#video {
        background-color: rgba(0, 255, 0, 0.3);
}

#pestaña {
        background-color: red;
}
#cuadro {
        margin: 0 auto;
}
.derechos {
        font-weight: bold;
}
a:link {
        color:blueviolet;
}
/*cuando el link no fue visitado*/
a:visited {
        color:grey;
}
/*cuando el link fue visitado*/
a:hover {
        color:yellow;
}
/*cuando el mouse pasa sobre el link*/
a:active {
        color:greenyellow;
}
/*cuando el mantengo pulsado el link sin abrirlo*/
body footer section {
        *background-color: rgba(0, 123, 0, 0.3);
        /*margin: 15px; */
/*puse un borde alrededor de 15px. y mande un color dentro de la escala verde*/
        padding: 3rem;
        /*outline: 1px solid red; */
/*puse un borde al contorno con esta funcion*/
}
footer p {
        margin: 0;

}
